/* Bootstrap Modal Gallery */
.modal-gallery .thumbnail { display:inline-block; }
#modal-gallery .modal-body img { width:100%; height:auto; }
#modal-gallery .modal-footer { margin-top:0; }
#modal-gallery .modal-body { padding:0; }
#modal-gallery .modal-image {
    position: relative;
    margin: auto;
    min-width: 128px;
    min-height: 128px;
    overflow: hidden;
    cursor: pointer;
}
#modal-gallery .modal-image {
  background: url(../img/spinner.gif) center no-repeat;
}