/**
 *   Form Layout
 */
.form-body label.control-label,
.form-body div.checkbox > label {
    position: relative;
}

.form-body label.control-label.required:after,
.form-body div.checkbox > label.required:after {
    width: 9px;
    position: absolute;
    top: 9px;
    right: 5px;
    content: "*";
    color: #d9534f;
}

.form-body div.checkbox > label.required:after {
    position: relative;
    right: 0;
    margin-left: 2px;
}

.form-body {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px 15px 0 15px;
    margin-bottom: 0;
}

.form-body.form-body-unstyled {
    border: none;
    padding: 0;
}

.form-body textarea {
    resize: none !important;
    min-height: 34px;
    max-height: 500px;
}

.form-with-tabs .form-body {
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.form-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 25px 15px 13px 15px;
    margin: 0 -15px 0 -15px;
}

.form-footer .glyphicon {
    margin-right: 5px;
}

.form-footer .form-group {
    margin-bottom: 0;
}

.form-footer .btn {
    margin-right: 10px;
    margin-bottom: 12px;
}

.form-body .btn small {
    font-family: Arial, Helvetica, sans-serif;
    color: #d2d2d2;
}

/**
 *  Field Box
 */
.form-body .control-label {
    cursor: auto;
    display: inline-block;
    float: left;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 0;
    min-height: 34px;
    padding: 9px 15px 0 15px;
    text-align: right;
}

.form-body input:-moz-placeholder {
    font-style: italic;
}

.form-body input:-ms-input-placeholder {
    font-style: italic;
}

.form-body input::-webkit-input-placeholder {
    font-style: italic;
}

.form-body .predefined {
    position: relative;
}

.form-body .predefined input {
    padding-left: 40px;
}

.form-body .predefined .value {
    position: absolute;
    top: 6px;
}

.form-body label.checkbox {
    cursor: pointer;
    color: #555;
}

.form-body label.radio {
    position: relative;
    left: -20px;
    width: 100%;
    cursor: pointer;
    color: #555;
}

.form-body label.checkbox,
.form-body label.radio {
    font-weight: lighter;
}

.form-body label.checkbox input[type="checkbox"],
.form-body label.checkbox input[type="radio"],
.form-body label.radio input[type="checkbox"],
.form-body label.radio input[type="radio"] {
    font-size: large;
    margin-left: 0;
}

.form-body .wysi-column {
    float: left;
    width: 75%;
}

.form-body .column.pull-right label {
    display: block;
    width: 100%;
}

.form-body .column.pull-right .ui-select {
    width: 250px;
}

.form-body .column.pull-right .input-group {
    margin-bottom: 10px;
    width: 250px;
}

.form-body .column.pull-right .input-datepicker {
    width: 250px;
}

/**
 *  Select2 Fixes
 */
.select2-container,
.select2-drop {
    font-size: 14px;
}

.select2-container .select2-choice {
    height: 32px;
    padding-left: 12px;
    line-height: 32px;
}

.select2-container-active {
    border-radius: 5px;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 36px;
}

.select2-container .select2-choice .select2-arrow {
    width: 24px;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 3px 3px;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -14px 3px;
}

.select2-container-multi .select2-choices .select2-search-choice {
    line-height: 13px;
    padding: 5px 7px 6px 20px;
    margin: 3px 0 3px 3px;
}

.select2-container-multi .select2-search-choice-close {
    top: 5px;
    left: 5px;
}

.select2-container .select2-choice abbr {
    width: 20px;
    height: 16px;
    background: none;
}

.select2-container .select2-choice abbr:before {
    content: "\00d7";
    display: inline-block;
    font-size: 24px;
    height: 16px;
    line-height: 16px;
    width: 20px;
}

.form-body .form-group .select2-container-disabled .select2-choice {
    cursor: not-allowed;
}

.form-body .form-group .select2-container.select2-dropdown-open .select2-choice {
    border-radius: 4px 0 0 0;
}

/* Input Group Button */
.form-body .input-group-btn .btn {
    padding: 6px;
}

/* Checkbox / radio */
.form-body div.checkbox,
.form-body div.radio {
    padding-top: 8px;
}

.form-body .form-choices.inline div.checkbox,
.form-body .form-choices.inline div.radio {
    display: inline-block;
    margin-right: 16px;
}

/* File Picker */
.file-picker {
    position: relative;
    overflow: hidden;
}

.file-picker input[type="file"] {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%;
}

/* Image widget */
.image-widget .thumbnail {
    margin-bottom: 0;
}

.image-widget .children .form-group {
    margin-bottom: 8px;
}

.image-widget .children .form-group .control-label {
    min-height: 30px;
}

.image-widget .children .form-group:last-child {
    margin-bottom: 0;
}

/**
 *  Collections
 */

/* ekyna collection */
.form-body .ekyna-collection li {
    border-bottom: 1px dotted #CCC;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.form-body .ekyna-collection li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.form-body .ekyna-collection-controls {
    text-align: right;
}

.form-body .ekyna-collection-controls button {
    margin-bottom: 8px;
}

.form-body .ekyna-collection-controls button:last-child {
    margin-bottom: 0;
}

.form-body .ekyna-collection-controls.controls-inline button {
    margin-bottom: 0;
    margin-right: 6px;
}

.form-body .ekyna-collection-controls.controls-inline button:last-child {
    margin-right: 0;
}

/**
 *  Bootstrap "extension"
 */
.form-body label.label-sm {
    font-size: 12px;
    line-height: 30px;
}

.form-body label.label-lg {
    /*
    TODO
    */
}

/**
 * Translations forms
 */
.translations-forms {
    border-bottom: 1px dotted #ddd;
}

.translations-locales > li:first-child {
    margin-left: 180px;
}

.translations-locales > li > a {
    font-size: 12px;
    padding: 6px 9px;
}

.translations-fields {
    padding-top: 15px;
}

/* Responsive */
@media ( max-width: 767px) {
    .form-body label.radio {
        left: 0;
    }

    .translations-locales > li:first-child {
        margin-left: 0;
    }
}